/* If we have web fonts, they're in this file */

$gotham: "Gotham SSm A","Gotham SSm B", "Gotham" "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$georgia: Georgia, serif;