// Library

// COLORS - these variables can be used to keep colors consistent throughout

    // Brand Colors
        $orange: #f77f00;
        $utc-gold: #dfaa26;
        $utc-blue:  #00386b;
        $utm-blue: #002649;
        $uthsc-green: #006a4d;

        //Interface Colors
        $pearl: #f2f2f0; 
        $rust: #ce6b02;
        $navy: #1e456e;
        $blue:  #0074d9;
        $slate: #007AAD;

        $link: $slate;
        $link-hover: $blue;

        // Grayscale
        $black: #000000;
        $text: #222;
        $charcoal: #404040;
        $gray: #666;
        $silver: #ccc;
        $white: #fff;

    