//
// HEADER
//

.header-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: .8em 0px;
}

.title {
    color: #222;
}

.logo {
    margin-bottom: .8em;
    max-width: 320px;
}