//
// MAIN
//



.main-container{
    margin-top: 2.5%;
}

.main {
    background-color: #fff;
    margin-top: 0px;
}

.main article {
    padding: 30px 0;
}

.main aside {
    padding: 0px 2.5% 10px;
}

